.section{
    background-color: var(--primary-color);
    box-shadow: 0px 1px 4px 1px var(--shadow-color);
    margin:0rem;
    display: flex;
}

.footer{
    background-color: var(--primary-color);
    border: none;
    border-top: 1px solid var(--shadow-color);
}

.align-left{
    text-align: left;
}

.cust-mar-0{
    margin-inline: 0.5em;
}

.cust-mar-1{
    margin-block:0.5em;
}

.red{
    color: rgba(255,125,125,1);
}

.green{
    color: rgba(125,255,125,1);
}

.blue{
    color: rgba(125,125,255,1);
}

#parameters{
    display: flex;
    width: 100%
}

label{
    font-size: 0.85rem;
    text-align: center;
}

legend{
    background-color: var(--secondary-color);
    padding: 0.25rem 0.8rem;
    border-radius: 2em;
    font-weight: 700;
}

select{
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 0.2em;
    border: 1px solid var(--shadow-color);
    border-radius: 0.6em;
    text-align: center; 
    padding-left: 1em;
}

select:focus{
    outline: 1px solid rgb(128, 168, 255);
    box-shadow: 0px 1px 4px 2px var(--shadow-color);
}