.center {
    text-align: center;
}

h1.center {
    margin-block: 0.2rem 0.2em;
}

.padder-li {
/*    min-height: 1.15rem;*/
    box-shadow: none;
    background-color: var(--bg-color);
}

.padder-li:hover {
    transform: none;
    box-shadow:  none;
}

.index-ul > li:not(:last-child) {
    margin-bottom: 0.5rem;
}

.index-ul {
    text-align: justify;
}

.footer{
    background-color: var(--primary-color);
    border: none;
    border-top: 1px solid var(--shadow-color);
}

.credits{
    text-decoration: none;
}

.sub-text{
    font-size: 0.5em;
}

ul{
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
    justify-content: center;
    flex-direction: column;
    padding-inline: 2rem 2rem;
}

ul > div {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;

}   

li{
    font-size: 1.15rem;
    font-weight: 500;
    text-wrap: auto;
    padding: 0.5rem 1rem;
    min-width: 18.5rem;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    box-shadow: 0 1px 2px 1px var(--shadow-color);
    align-content: center;
    text-align: center;
    transition: transform 0.3s ease;
}

li span{
    display: flex;
    justify-content: center;
}

li span a{
    cursor: pointer;
    box-sizing: border-box;
}

/*li:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2px 2px var(--accent-color);
}*/

li:hover {
    box-shadow: 0 0 2px 2px var(--accent-color);
}

li a{
    color: var(--text-color);
    text-decoration: none;
}

hr {
    margin: 0 0 0 0;
}